/* used everywhere */
* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

/* header part styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.25rem 13.5rem 6rem 13.5rem;
}
nav {
  display: flex;
  margin-left: 20px;
}
nav > p {
  margin-left: 1rem;
}
.site-name-1 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.site-name-2 {
  color: #ff5400;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-orange-text {
  color: #ff5400;
  font-size: 1rem;
  font-weight: 700;
}
.nav-black-text {
  color: #424247;
  font-size: 1rem;
  font-weight: 400;
}
/* main part starts */
.travel-section {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url('images/1.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1170px;
  height: 500px;
  border-radius: 1rem;
}
.travel-section h3 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  padding-top: 6.5rem;
}
.travel-section h5 {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  line-height: 26px; /* 162.5% */
}
.travel-section-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  background: rgba(255, 255, 255, 0.3);
  width: 42rem;
  height: 3.5rem;
}
.travel-section-boxes select {
  margin-right: 1rem;
}
.yellow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.yellow-btn {
  background: #ff5400;
  width: 9rem;
  height: 3.5rem;
  border: 0;
  border-radius: 0.5rem;
}
.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.button-text {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
#selection-styles {
  width: 9rem;
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  background: #fff;
}

/* Popular tour styles */
.popular-tour-section {
  margin: 6rem 11rem;
  display: flex;
}
.popular-tour-text {
  margin-right: 1rem;
}
.popular-tour-text h3 {
  color: #131318;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
}
.popular-tour-text h5 {
  color: rgba(19, 19, 24, 0.7);
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem; /* 162.5% */
}
.popular-tour-ul-text {
  margin: 1rem;
}
.commmon-button {
  width: 11rem;
  height: 3rem;
  margin-top: 2rem;
  border: 0;
  border-radius: 0.5rem;
  background: #ff5400;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
}
/* Destination tour styles */
.destination-section {
  margin: 6rem 11rem;
  text-align: center;
}
.destination-section h3 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.destination-section h5 {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem 16rem;
  line-height: 26px; /* 162.5% */
}

.destination-section-image-box-1,
.destination-section-image-box-2,
.destination-section-image-box-3 {
  display: flex;
}

.destination-section-image-box-1 img,
.destination-section-image-box-2 img,
.destination-section-image-box-3 img {
  margin: 0.5rem;
}
.destination-section-image-box-1-1-content,
.destination-section-image-box-1-2-content,
.destination-section-image-box-2-1-content,
.destination-section-image-box-2-2-content,
.destination-section-image-box-2-3-content,
.destination-section-image-box-3-1-content,
.destination-section-image-box-3-2-content {
  display: flex;
}
.destination-section-image-box-1-1-content h3,
.destination-section-image-box-1-2-content h3 {
  position: absolute;
  margin-top: 8rem;
  margin-left: 14rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.destination-section-image-box-2-1-content h3,
.destination-section-image-box-2-2-content h3{
  position: absolute;
  margin-top: 8rem;
  margin-left: 8rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.destination-section-image-box-2-3-content h3{
  position: absolute;
  margin-top: 8rem;
  margin-left: 5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.destination-section-image-box-3-1-content h3{
  position: absolute;
  margin-top: 8rem;
  margin-left: 9rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.destination-section-image-box-3-2-content h3{
  position: absolute;
  margin-top: 8rem;
  margin-left: 15rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
